body {
  padding-top: 70px
}

footer {
  margin: 50px 0;
}
.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
}

@media (max-width: 767px) {
 .sidebar-nav-fixed {
     width:auto;
 }
}

@media (max-width: 979px) {
 .sidebar-nav-fixed {
     position:static;
    width: auto;
 }
}   
